@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
:root {
  --primary: #f7f7f7; /* Rich blush pink */
  --secondary: #e5e5e5; /* Stronger mint green */
  --tertiary: #d1d1d1; /* Soft but visible periwinkle */
  --accent: #4a4a4a; /* Muted golden yellow */
  --text-dark: #1e293b; /* Slate for clear readability */
  --text-light: #4a4a4a;
}
